export(abs_mean_diff)
export(abs_mean_diff0)
export(cxxwrapper)
export(fdr)
export(m0.bdn)
export(m0.nhcw)
export(m0.st)
export(max_abs_corr)
export(max_abs_corr0)
export(plot.spt)
export(rbunif)
export(read_code)
export(spt)
S3method(plot,spt)
